main {
  padding: 10px;
  img {
    width: 30%;
  }

  .form {
    display: flex;
    padding: 10px;
    justify-content: center;

    input {
      margin: 10px;
      transition: .5s;

      &:focus-visible {
        background-image: linear-gradient(90deg, #29165f, #351a5f);
        box-shadow: 2px 2px 1px #4f2379;
      }
    }

    button {
      display: flex;
      margin: auto 0;
      transition: .5s;

      &:hover {
        box-shadow: 2px 2px 1px #4f2379;
      }
    }
  }

  .result {
    .atual {
      display: flex;
      flex-direction: column;

      background-color: #3c165f;
      border-radius: 15px;

      padding: 10px;

      img {
        align-self: center;

        width: 40px;
        height: 30px;
      }
    }

    .minmax {
      display: flex;
      flex-direction: column;

      background-color: #3c165f;
      border-radius: 15px;

      margin: 10px 0;

      p {
        margin: 5px;
      }
    }

    .otherinforms {
      display: flex;
      flex-direction: column;

      background-color: #3c165f;
      border-radius: 15px;

      margin: 10px 0;

      p {
        margin: 5px;
      }
    }

    h2 {
      text-transform: capitalize;
      margin: 5px 0 0 0;
    }

    h3 {
      margin: 0;
      font: lighter 60px "Poppins";
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    img {
      width: 10%;
    }
    p {
      font-size: 11px;
    }
  }
}
