main {
  padding: 10px;

  img {
    width: 30%;
  }

  h2 {
    margin: 5px;
  }

  .form {
    display: flex;
    padding: 10px;
    justify-content: center;

    input {
      margin: 10px;
      transition: 0.5s;

      &:focus-visible {
        background-image: linear-gradient(90deg, #29165f, #351a5f);
        box-shadow: 2px 2px 1px #4f2379;
      }
    }

    button {
      display: flex;
      margin: auto 0;
      transition: 0.5s;

      &:hover {
        box-shadow: 2px 2px 1px #4f2379;
      }
    }
  }

  .result {
    .atual {
      display: flex;
      flex-direction: column;

      background-color: #3c165f;
      border-radius: 15px;

      padding: 10px;

      img {
        align-self: center;

        width: 50px;
        height: 50px;
      }
    }

    .informs {
      display: flex;
      flex-direction: column;

      background-color: #3c165f;
      border-radius: 15px;

      margin: 10px 0;

      p {
        margin: 2px;
        font-size: 13px;
      }
    }

    .otherinforms {
      display: flex;
      flex-direction: column;

      background-color: #3c165f;
      border-radius: 15px;

      margin: 10px 0;

      p {
        margin: 5px;
      }
    }

    h2 {
      text-transform: capitalize;
      margin: 0px;
      font-weight: normal;
    }

    h3 {
      margin: 0;
      font: lighter 50px "Poppins";
    }
  }

  footer {
    margin-top: 5px;

    img {
      width: 10%;
    }
    a {
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      margin: 0 2px;
    }
    p {
      margin: 0;
      font-size: 13px;
    }
  }
}
